/* ==========================================================================
   7. Posts Navigation
   ========================================================================== */

.pagination {
  border-bottom: 1px solid _palette(border);
  color: _palette(primary);
  font-weight: bold;
 
  text-align: center;
}

.nav-links {
  position: relative;
}

.page-number {
  display: block;
  font-size: 14px;
  line-height: 1.5;
}

.older-posts,
.newer-posts {
  display: inline-block;
  font-size: 0.88889em;
  line-height: 1.875;
}

.older-posts {
  margin-top: 0.5rem;
}

.newer-posts {
  margin-bottom: 0.5rem;
}

@media only screen and (min-width: 481px) {
  .older-posts,
  .newer-posts {
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .older-posts {
    right: 0;
  }

  .newer-posts {
    left: 0;
  }
}
/*
  Related Posts
*/

.related {
  padding-bottom: 1rem;
}
.related ul, ol, dl {
  margin: 0px;
}
.related-posts {
  padding: 10px 0px 10px;
  list-style: none;
  display: inline-block;
}
.related-thumbnail {
  position: relative;
  width: 600px;
  height: 200px;
  overflow: hidden;
}
.related img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: auto;
  width: 600px;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.related-title {
  float: right;
  padding-bottom: .5rem;
  font-family: $base-font-family;
}
@media (max-width: $container-width) {
  .related-thumbnail{
    width: 60vw;
  }
}
@media (max-width: $tablet-width) {
  .related-thumbnail{
    width: 95vw;
  }
}
